<article class="blog-post">
  <h2 class="blog-post-title mb-1"><%= article.title %></h2>
  <p class="blog-post-meta"><%= formatted_date(article.created_at) %>
    <a href="#">Chris</a></p>

  <p><%= article.body %></p>
</article>
